

.outline {
  -webkit-text-fill-color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.backgroundPhoto {
  background-image: url('/img/landing/mesclun.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}